@import '../../imports';

.customCard {
  @include respond-to-max('desktop-small') {
    @include size($min-height: 15rem, $width: calc(20% - 1rem));
    padding-top: 7rem;
  }
  @include respond-to-max('mobile-large') {
    width: calc(50% - 1rem);
    margin-bottom: 1.5rem;
  }
  @include size($min-height: 19.4rem, $width: calc(20% - 2rem));
  border: none;
  box-shadow: 0 1rem .6rem rgba($gray, .16);
  position: relative;
  z-index: 1;
  padding: 10rem 1.5rem 1.5rem;

  svg {
    @include respond-to-max('desktop-small') {
      font-size: 3rem;
    }
    @include position(absolute, null, null, calc(100% + 1rem), 50%);
    @include prefix(transform, translateX(-50%), webkit moz ms o);
    font-size: 4rem;
  }
}

.cardTitleWithIcon {
  @include respond-to-max('desktop-small') {
    font-size: 1.4rem;
  }
  position: relative;
}
