@import '../../imports';

.sectionTitleWhyChooseUs {
  @include respond-to-max('mobile-large') {
    padding-top: 3rem;
    margin-bottom: 5rem;
  }
  padding-top: 10.5rem;
  margin-bottom: 13.5rem;
}
