button[class*='c-bQoszf'] {
    position: absolute;
    bottom: 200px !important;
    width:12rem;
}

img{
    width: 12rem !important;
}

.c-ivtLaR-ftPdvq-withChat-false > .c-PJLV {
    bottom: 150px !important
}