$desktopMediumBreakpoint: 1500px;
$desktopSmallBreakpoint: 1280px;
$tabletLandscapeBreakpoint: 1024px;
$tabletPortraitBreakpoint: 991px;
$mobileLargeBreakpoint: 768px;
$mobileMediumBreakpoint: 425px;
$mobileSmallBreakpoint: 320px;
$maxTabletPortraitBreakpoint: 991px;
