apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx
  namespace: {{ .Values.namespace }}
data:
  app.conf: |
    server {
      listen 80;
      root /usr/share/nginx/html;
      index index.html;

      # 31536000 = 1year
      # add_header Strict-Transport-Security max-age=31536000;

      access_log /var/log/nginx/frontend_access.log;
      error_log /var/log/nginx/frontend_error.log;

      location /health {
        access_log off;
        return 200 "healthy\n";
      }

      location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
      }
    }
