apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.app.label }}
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
       maxUnavailable: 0
       maxSurge: 1
  selector:
    matchLabels:
      app: {{ .Values.app.label }}
  template:
    metadata:
      labels:
        app: {{ .Values.app.label }}
    spec:
      imagePullSecrets:
      - name: registry-front
      containers:
      - name: {{ .Values.app.name }}
        image: {{ .Values.app.image }}
        resources:
          limits:
            cpu: {{ .Values.app.limits.cpu }}
            memory: {{ .Values.app.limits.memory }}
          requests:
            cpu: {{ .Values.app.requests.cpu }}
            memory: {{ .Values.app.requests.memory }}
        ports:
        - name: http
          containerPort: 80
        volumeMounts:
          - name: nginx
            mountPath: /etc/nginx/conf.d/default.conf
            subPath: app.conf
        readinessProbe:
          httpGet:
            port: http
            path: /health
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            port: http
            path: /health
          initialDelaySeconds: 15
          periodSeconds: 20
      volumes:
      - name: nginx
        configMap:
          name: nginx
