@import '../imports';
@import '../utils/constants';

.modalBaseStyle {
  @include font($font-family: $default-font, $color: $default-color, $text-align: center, $font-size: 1.3rem);
  @include size($width: 100%, $max-width: 42rem);
  @extend .totalCenter;
  padding: 2rem;
  border-radius: 1.5rem;
  background: $forth-color;
}

.modalSuccess {
  @include font($font-family: $default-font, $color: $forth-color, $text-align: center);
  @include size($width: 100%, $max-width: 99.3rem);
  position: relative;
  background: url('#{$imgPath}modalBg.png') repeat-y;
  margin: 0 1.5rem;

  @include mobileLarge {
    height: 100vh;
    border-radius: 0;
    margin: 0;
  }

  .subtitle {
    @include font($color: $forth-color, $font-size: 3.1rem, $font-weight: $bold);

    @include mobileLarge {
      font-size: 1.4rem;
    }
  }

  h2 {
    color: $forth-color;

    @include mobileLarge {
      font-size: 2.6rem;
      margin-bottom: 0.3rem;
    }
  }

  .wrapper {
    padding: 7.6rem 2rem 4rem;
  }

  svg {
    font-size: 6.3rem;
    margin-bottom: 4.2rem;
  }

  button {
    @include font($font-size: 1.6rem, $color: $menu-accent, $font-weight: $regular);
    background: $forth-color;
    border-radius: 2rem;
    padding: 0.6rem 2rem;
    outline: none;
    border: none;
    margin-top: 8.6rem;
    cursor: pointer;
  }

  .closeBtn {
    @include position(absolute, 2rem, 2.5rem, null, null);
    font-size: 3.5rem;
    cursor: pointer;
  }
}

.scaleAnimation {
  @extend .totalCenter;
  @extend .resetToDirectionColumn;
}
