@import '../imports';
@import '../utils/constants';

.wrapper {
  padding-top: 4rem;

  form {
    width: 100%;

    & > div:first-of-type {
      max-width: 36.6rem;
    }
  }
}

.extraInfo {
  @extend .verticalCenter;
  @extend .resetToDirectionColumn;
  margin: 6rem 0 2rem;
  width: 100%;

  button[type='submit'] {
    margin-top: 2.5rem;
    background: $gradient;
    border: none;
    color: $forth-color;
  }

  button[type='button'] {
    margin-top: 2rem;
  }

  div {
    width: 100%;
  }
}

.addImage {
  text-align: center;
}
