@import "../imports";

.wrapper {
    @include size($max-width: 73.7rem, $width: 90%);
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

    img:not(.toggleBtn) {
        @include size($width: 100%, $height: auto, $min-height: 0.1rem);
        display: block;
        margin-top: 4rem;
    }

    h2 {
        margin-top: 14rem;

        @include desktopMedium {
            margin-top: 22rem;
        }
    }
}

.toggle {
    @include font($font-size: 2rem, $text-align: center);
    margin-top: 4.5rem;
    
    span {
        color: $secondary-color;
        display: block;
    }

    &Btn {
        margin: 2.3rem auto 0;
    }
}
