// -----------------------------------------------------------------------------
// Imports file for use in component SCSS modules
// Import this file in your component .module.scss files
// -----------------------------------------------------------------------------

@import 'abstracts/index';
