button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
    width: 100px !important;
    height: 100px !important;
    border: none !important;
    background: none !important;
    right: 14rem;
    position: relative;
    bottom: 6.5rem;
}

._15s29m9i._15s29m9m._15s29m9k>img,
.f6dof87.f6dof89>img {
    width: 100px !important;
    height: 100px !important;
}

._15s29m9i._15s29m9m._15s29m9k {
    height: 100px !important;
    min-width: 100px !important;
    width: 100px !important;
}

@media only screen and (min-height: 500px) and (max-height: 680px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;


    }
}

@media only screen and (min-height: 681px) and (max-height: 700px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;


    }
}

@media only screen and (min-height: 701px) and (max-height: 799px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 9rem;
        right: 9.5rem;
    }
}

@media only screen and (min-height: 800px) and (max-height: 864px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 9rem !important;
        right: 12rem;
    }
}

@media only screen and (min-height: 865px) and (max-height: 894px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 11.5rem;
        right: 13rem;
    }
}

@media only screen and (min-height: 895px) and (max-height: 900px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;

    }
}

@media only screen and (min-height: 901px) and (max-height: 950px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;
        right: 15rem !important;
    }
}

@media only screen and (min-height: 951px) and (max-height: 974px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;
        right: 15rem !important;
    }
}

@media only screen and (min-height: 975px) and (max-height: 989px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;

    }
}

@media only screen and (min-height: 990px) and (max-height: 999px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;

    }
}

@media only screen and (min-height: 1000px) and (max-height: 1099px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 10rem !important;
        right: 17rem;
    }
}

@media only screen and (min-height: 1100px) and (max-height: 1159px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 13rem !important;
        right: 20rem;
    }
}

@media only screen and (min-height: 1160px) and (max-height: 1259px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 14rem !important;
        right: 21rem;
    }
}

@media only screen and (min-height: 1300px) and (max-height: 1399px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;

    }
}

@media only screen and (min-height: 1450px) and (max-height: 1584px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;

    }
}

@media only screen and (min-height: 1585px) {

    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2._15s29m92._15s29m94.vfrc-launcher:not(.f6dof82),
    button.vfrc-button._1q15b0b0.c26d8x0._1q15b0b2.vfrc-launcher.f6dof81._1q15b0b0.c26d8x0._1q15b0b5:not(.f6dof82) {
        bottom: 7rem !important;

    }
}

/* button[class*='vfrc-launcher'] {    
    width: 100px  !important;
    border: none !important;
    background: none !important;
} */
div._15s29m99 {
    display: none !important;
}

/* div._15s29m9i._15s29m9l._15s29m9k{
    bottom: 0 !important;
    right: 0 !important;
    position: absolute !important;
} */
