.fixedBlock {
  @include respond-to-max-height('tablet-landscape-height') {
    top: 0;
  }

  @include respond-to-max-height('custom-resolution-3') {
    top: 0;
    transform: none;
  }

  @include respond-to-max-height('tablet-portrait-height') {
    top: 0;
    transform: none;
  }

  @include respond-to-max(desktop-small) {
    @include size($width: 100%, $max-width: 100%);
    @include position($position: relative, $top: 0, $left: 0 !important);
    padding: 0;
    margin: 0;
    @include display-flex($align-items: flex-start);
  }

  @include respond-to-max(mobile-large) {
    @include display-flex($flex-direction: column);

    [class*='ProgramsSlider_programSliderContainer'] {
      margin: .5rem auto;
      text-align: center;
    }
  }

  position: relative;
  top: 0;
  padding: 0 1.5rem;

  &Left {
    padding-left: 1.5rem;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  &Right {
    @include respond-to-max-height('tablet-portrait-height') {
      top: 0;
    }

    position: relative;
    width: 100%;
    max-width: 100%;
    right: 0;
    padding-right: 1.5rem;
    top: 0;
  }
}

.fixedStaticBlock {
  @extend .fixedBlock;
  margin-top: 1rem;
}