@import '../imports';

.icon {
  svg {
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &IsActive {
    svg {
      animation: animatePin 0.6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}

@keyframes animatePin {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
