@import '../../imports';
@import '../../utils/constants';

.loginModal {
  @include size($width: 100%, $height: 100vh, $max-width: none);
  @include font($color: $forth-color, $text-align: initial);
  @extend .totalCenter;
  @extend .resetToDirectionColumn;
  position: relative;
  border-radius: 0;
  padding: 2rem 1.5rem;
  background: transparent;

  &:after {
    @include size($width: 100%, $height: 100vh);
    @include position(absolute, 0, 0, null, null);
    background: $gradient;
    content: '';
    opacity: 1;
    z-index: -1;
  }

  input {
    border-radius: 3rem;
    max-width: none;
    border: 0.1rem solid $border-medium;
    background: $forth-color;
  }

  label {
    @include font($color: $forth-color, $font-size: 1.6rem, $font-weight: $bold);
    margin-bottom: 1.2rem;
  }

  form {
    @include size($width: 100%, $max-width: 34.9rem);
    position: relative;

    & > div > div {
      padding-bottom: 3.5rem;
      max-width: none;

      @include mobileLarge {
        padding-bottom: 2rem;
      }
    }
  }

  svg {
    font-size: 3.2rem;

    @include mobileLarge {
      font-size: 2.2rem;
    }
  }

  .closeBtn {
    @include position(null, -5rem, 0, null, null);
    margin-bottom: 1rem;
    margin-left: auto;
    display: flex;
    background: transparent;
    color: $forth-color;
    padding: 0;

    @include mobileLarge {
      top: -3rem;
    }
  }

  .closeBtnWrapper {
    width: 34.9rem;
    position: relative;
    
    @include mobileMedium {
      width: 28rem;
    }

    span {
      @include font($font-size: 2.4rem, $font-weight: $bold, $line-height: 1.2);
      margin-bottom: 3.3rem;
      display: block;
      
      @include mobileLarge {
        font-size: 2.2rem;
        margin-bottom: 2.5rem;
      }
    }
  }
}

.buttonWrapper {
  @extend .spaceBetween;
  margin-top: 3rem;

  @include mobileLarge {
    margin-top: 1.5rem;
  }

  button {
    @include size($width: 100%, $max-width: 15.8rem);
    @include font($color: $forth-color, $font-size: 1.6rem);
    @extend .horizontalCenter;
    background: $gradient;
    border: none;
    padding: 0.6rem 0.5rem;

    svg {
      @include font($color: $forth-color, $font-size: 1.6rem);
    }
  }

  .defaultButton {
    background: transparent;
    justify-content: flex-start;
    font-weight: $bold;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
}

.buttonRight {
  justify-content: flex-end;
}
