@import '../../imports';

.sectionPrograms {
  padding-top: 9rem;

  &Scroll {
    height: auto !important;
    overflow: visible !important;
    
    // Remove scrollbars completely
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    @include respond-to-max('mobile-large') {
      height: auto !important;
      overflow: unset !important;

      &>div {
        position: relative !important;
        overflow: unset !important;
        margin: 0 !important;
      }
    }
    
    // Override inner div styles to remove scroll behavior
    > div {
      height: auto !important;
      overflow: visible !important;
    }
  }

  &HorizontalTrack {
    display: none;
  }

  &Col {
    @include respond-to-max('mobile-large') {
      padding: 0;
    }

    padding: 0 5rem 0 1.5rem;
  }
}

.programBlockItem {
  justify-content: space-between;
  min-height: 15rem;
  padding: 1.5rem 1rem;
  gap: 0.75rem;
  
  // Enhanced typography for program name
  p {
    font-weight: 600;
    letter-spacing: -0.01em;
  }
  
  // Better button styling
  button {
    border-radius: 0.5rem;
    font-weight: 500;
    padding: 0.625rem 1.25rem;
    transition: all 0.2s ease;
    
    &:hover {
      transform: translateY(-1px);
    }
  }
}

.superPlatformBg {
  background-image: url("../../../../assets/images/superplatform.png");
}

.platformBg {
  background-image: url("../../../../assets/images/platform.png");
}

.programBg {
  background-image: url("../../../../assets/images/createProgram.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.superPlatformBg,
.platformBg,
.programBg {
  @include respond-to-max-height('custom-resolution-3') {
    padding-top: 70% !important;
  }

  @include respond-to-max-height('custom-resolution-8') {
    padding-top: 68% !important;
  }

  @include respond-to-max-height('custom-resolution-4') {
    padding-top: 58% !important;
  }

  padding-top: 71% !important;
}

.platform {
  &Icon {
    @include position(absolute, 2rem, 3rem);
  }

  &Super {
    &CTA {
      background: $secondary-color !important;
    }
  }

  &Sub {
    &CTA {
      background: $third-color !important;
    }
  }

  &Program {
    &CTA {
      background: $primary-color !important;
    }
  }

  &DveloppeBtn {
    margin-bottom: 0 !important;
  }
}

.program {
  &Button {
    background: $primary-color !important;
  }
}

.pendingCTA {
  background: $primary-color;
  cursor: default;
}

.programsPageContainer {
  [class*="ProgramsSlider_programSliderContainer"] {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  
  // Remove ALL scrollbars completely
  overflow: visible !important;
  overflow-x: hidden !important;
  overflow-y: visible !important;
  
  // Global scrollbar removal
  &, & * {
    &::-webkit-scrollbar {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
    }
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}

.separator {
  border-bottom: .1rem solid $programs-separator-color;
}

.blocksWrapper {
  @include respond-to-max('desktop-small') {
    padding-right: 1.5rem;
  }

  @include respond-to-max('desktop-medium') {
    padding-right: 5rem;
  }

  padding-right: 15rem;
  padding-bottom: 3rem;
  overflow: visible !important;
  overflow-x: hidden !important;
  overflow-y: visible !important;
  
  // Remove scrollbars from blocksWrapper
  &::-webkit-scrollbar {
    display: none !important;
  }
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.customHeight {
  height: auto !important;
  overflow: visible !important;
  overflow-x: hidden !important;
}