@import '../../imports';
@import '../../utils/constants';
@import '../../common/box';

.ctaSection {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-size: cover;

  @media all and (-ms-high-contrast: none) {
    height: 100vh !important;
  }

  @include mobileLarge {
    height: auto !important;
  }
}

.shape {
  @include position(absolute, 0, 0, null, null);
  width: 100%;
  z-index: 2;
}

.wrapper {
  @include size($width: 100%, $max-width: 162rem);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 1.5rem;
  z-index: 2;

  @include tabletLandscape {
    flex-direction: column;
    align-items: center;
  }

  @include mobileLarge {
    max-width: 48rem;
    margin: 8rem auto 0;
  }

  h2 {
    color: $forth-color;
    width: auto;

    @include mobileLarge {
      text-align: center;
    }
  }
}

.ctaWrapper {
  display: flex;

  @include mobileLarge {
    flex-direction: column;
    align-items: center;
  }

  @include tabletLandscape {
    margin-top: 6rem;
  }
}

.ctaBlock {
  @include size($max-width: 26.5rem, $min-height: 44.5rem, $width: 100%);
  @extend .boxWithShadow;
  border: 0.2rem solid $third-color;
  padding: 8rem 2rem 5rem;
  text-align: center;
  margin-bottom: 1.6rem;
  z-index: 10;

  @include mobileLarge {
    min-height: 0;
    margin: 0 0 4rem 0;
  }

  &:first-of-type {
    margin-right: 7rem;

    @include mobileLarge {
      min-height: 0;
      margin-right: 0;
    }
  }

  .buttonWrapper {
    @include position(absolute, null, 0, 6.5rem, nul);
    @include display(flex, center);
    width: 100%;

    a {
      @include display(flex, center);
    }

    @include mobileLarge {
      position: relative;
      bottom: auto;
    }
  }
}

.formTitle {
  @include font($font-size: 2.2rem, $font-weight: $bold, $color: $default-color);
}

.formDescription {
  @include font($font-size: 1.3rem, $font-weight: $regular, $color: $third-color, $line-height: 1.3);
  padding: 7rem 0 1rem;

  @include mobileLarge {
    padding: 4rem 0 !important;
  }
}

.ctaSectionWrapper {
  width: 100%;
}
