@import "../../imports";

.customInput {
  @include font($text-align: right, $color: $menu-accent, $font-weight: map_get($font-weights, 'bold'), $font-size: 1.4rem);
  @include size($width: 30%, $max-width: 21rem);
  border: .1rem solid $grey-light-color;
  border-radius: 2rem;
  background: $default-color;
  padding: .6rem 1.5rem;
  margin-right: 0;
}

.errorBottom{
    [class*="Input_error_"]{
      bottom: -1rem;
      z-index: 1 ;
    }
}


.cubeBracketInput {
  @extend .customInput;
  max-width: 11rem;
}

label.customRadioInputWrapper {
  margin-top: 0 !important;
}

.customRadioInputWrapper {
  cursor: pointer;

  input {
    display: none;

    &:checked ~ .customRadioInput::before {
      @include prefix(transform, translate(-50%, -50%) scale(1), webkit moz ms o);
      opacity: 1;
    }
  }

  &:hover .customRadioInput::before {
    box-shadow: $shadow-light;
  }

  .customRadioInput {
    @include size($width: 2rem, $height: 2rem);
    background-color: $default-color;
    border-radius: 50%;
    position: relative;
    box-shadow: $shadow-light;
    border: 1px solid #6134a5;
    &Square {
      border-radius: 0;
      border: .1rem solid $gray-light-accent-color;
      box-shadow: none;
    }

    &::before {
      @include prefix(transform, translate(-50%, -50%) scale(0), webkit moz ms o);
      @include position(absolute, $top: 50%, $left: 50%);
      @include size($width: 1rem, $height: 1rem);
      content: '';
      border-radius: 50%;
      background-color: $primary-color;
      transition: all .3s ease;
      opacity: 0;
    }
  }  
}
