// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// Fonts migrated from old_app/src/assets/fonts
// -----------------------------------------------------------------------------

// Roboto Regular
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'),
       url('../../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Roboto Bold
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Bold.woff2') format('woff2'),
       url('../../assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
