// -----------------------------------------------------------------------------
// Basic typography styles
// -----------------------------------------------------------------------------

// Default font properties
.base-font {
  @include font($font-family: $primary-font, $line-height: 1.4);
}

.titles-base {
  @include font($font-family: $primary-font, $font-weight: map_get($font-weights, 'bold'));
  margin: 0;
}

body {
  @extend .base-font;
  font-size: 1.6rem;
}

.section {
  &Title {
    @extend .titles-base;
    @include font($font-size: 4.6rem, $line-height: 1.2);

    @include respond-to-max('mobile-large') {
      font-size: 3rem;
    }
  }

  &Subtitle {
    @extend .titles-base;
    @include font($font-size: 2.2rem, $line-height: 1.4);
  }
}

.heroTitle {
  @extend .titles-base;
  @include respond-to-max('mobile-large') {
    font-size: 3rem;
  }
  font-size: 5rem;
}

.lead {
  @extend .base-font;
  @include respond-to-max('tablet-portrait') {
    font-size: 1.6rem;
  }
  font-size: 2rem;

  &Lg {
    @extend .base-font;
    font-size: 3rem;
  }
}

.smallText {
  @extend .base-font;
  font-size: 1.4rem;
}

.lh1 {
  line-height: 1;
}

// Generating classes for font sizes
@each $key, $value in $fontSizes {
  .text#{$key} {
    font-size: $value !important;
  }
}

// Generating responsive classes for font sizes
@each $media, $breakpoint in $breakpoints-max-sizes {
  @media (max-width: $breakpoint) {
    @each $key, $value in $fontSizes {
      .#{$media}Text#{$key} {
        font-size: $value !important;
      }

      .#{$media}Mb#{$key} {
        margin-bottom: $value;
      }
    }

    .#{$media}WidthFull {
      width: 100% !important;
    }

    @each $key, $value in $position {
      .#{$media}#{$value} {
        position: #{$value} !important;
      }
    }
  }
}

@each $key, $value in $font-weights {
  .fontWeight#{$value} {
    font-weight: $value;
  }
}

.capitalize {
  text-transform: capitalize;
}

.text {
  &Uppercase {
    text-transform: uppercase;
  }

  &Lowercase {
    text-transform: lowercase;
  }

  &Decoration {
    &Underline {
      text-decoration: underline;
    }
  }
}

.verticalAlign {
  &Middle {
    vertical-align: middle;
  }
}
